streamlit==1.36.0
boto3==1.34.145
pandas==2.2.2
streamlit==1.36.0
pandas
python-Levenshtein
openpyxl
xlsxwriter
openai>=1.0.0
anthropic>=0.3.0
numpy
sentence-transformers==2.2.2
transformers==4.27.4
torch>=1.6.0
requests_cache
word2number
scikit-learn>=1.6.1
